.input_block{
  width: 700px;
  height: 35px;
  margin: auto;
  /* background-color: red; */
  display: flex;
}
.input_block{
  width: 700px;
  height: 35px;
  margin: auto;
  /* background-color: red; */
  display: flex;
}